ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 400px;
    background: #046d85 url('../assets/navH/fundo-horizontal.png') repeat-x;
    float: left;
}

ul li {
    float: left;
}

ul a {
    display: block;
    padding: 0 25px;
    line-height: 2em;
    text-decoration: none;
    color: #fff;
    background: url('../assets/navH/divisor.png') repeat-y left top;
}
ul .primeiro a {
    background: none;
}

ul a:hover {
    color: #046d85;
    background: #a9deea;
}
#home .home a,
#sobre .sobre a,
#contato .contato a,
#servicos .servicos a {
    color: #046d85;
    background: #a9deea;
    font-style: italic;
}
