/* geral */
* {
    color: red;
}

/* + especifico - apenas h2  */
h2 {
    color: blue;
}
/* ++ especifico - apenas h2 pertencente a class verde */
h2.verde {
    color: green;
}

/* +++ especifico - apenas h2 com id verde */
h2#amarelo {
    color: yellow;
}
