body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #f3f3f3;
}

#container {
    width: 90%; /* fixo: 720px */
    margin: 0 auto;
    background: #fff;
    /* uma hora para de diminuir */
    min-width: 720px;
    /* uma hora para de esticar */
    /* max-width: 960px; */
}

#marca {
    width: 100%;
    height: 100px;
    background: #9e9e9e;
    text-align: center;
    line-height: 100px;
}

#conteudo {
    width: 75%; /* fixo: 520px */
    float: right;
}

#conteudo1 {
    border: 1px solid red;
    width: 63%;
    float: left;
}
#conteudo2 {
    border: 1px solid red;
    width: 34%; /* fixo: 320px;  */
    float: right;
    background: #d1d1d1;
}

#navegacao {
    border: 1px solid red;
    width: 23%; /* fixo: 180px*/
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #d1d1d1;
}

#navegacao ul {
    list-style: none;
}

#navegacao li a {
    text-decoration: none;
}

#rodape {
    clear: both;
    background: #c4c4c4;
    padding: 5px;
}

/* Layouts fixos, que possuem pouca ou nenhuma adaptação 
a dispositivos com telas menores, são baseados em medidas 
de px e possuem tamanhos fixos/exatos que não se alteram  */
